<div mat-dialog-actions align="end" class="header">
    <button mat-mini-fab [mat-dialog-close]="" class="btn" cdkFocusInitial><mat-icon>close</mat-icon></button>
</div>
<div style="padding-top: 1em;">
    <mat-card>
        Desenvolvido por Tarso A. V. da Luz
    </mat-card>
    <div class="footer">
        <button mat-mini-fab class="btn" (click)="openLI()"><img src="assets/svg/linkedin.svg" height="24"></button>
        <button mat-mini-fab class="btn" (click)="mailTo()"><mat-icon>email</mat-icon></button>
    </div>
</div>